# This are the pip requirements that a developer machine uses to
# run static code analyzers on SystemTests code. Those packages
# are used when running validateBeforeCheckin.py
#
# The packages needed to run the SystemTests code are described in
# _JenkinsClientConfig\_Readme_JenkinsNodeConfiguration.html
#
# Pip itself might need to be updated first by running:
#   %PYDIR%\python.exe -m pip install --upgrade pip
#
# Then use following command to install required packages:
#   %PYDIR%\python.exe -m pip install -r pip_requirements_dev.txt
#
# NOTE: The pip command needs to be run outside of SystemTests folder
#       to avoid issues with our pylint and flake8 customized configuration
#
# List of packages
astroid==1.5.3
pylint==1.7.2
flake8==3.4.1
